<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Maya Tinder - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" id="bootstrap-css" href="css/bootstrap.min.css"/>

    <link href="css/font-awesome.min.css" rel="stylesheet">

    <link href="css/cadastro.css" rel="stylesheet">

</head>

<body>

<div class="login">
    <div class="container">

        <div class="col-lg-8 col-lg-offset-2 login-box">
            <div class="col-lg-6 left-box">
                <h1>Entrar</h1>

                <form action="login" method="post">

                    <div class="form2">

                        <div class="form-group">
                            <label for="username">E-mail</label>
                            <input type="text" id="username" name="email" class="form-control" required>

                        </div>

                        <div class="form-group">
                            <label for="password">Senha</label>
                            <input type="password" id="password" name="senha" class="form-control" required>

                        </div>

                        <div class="login-button">
                            <button type="submit" class="btn-cadastro2 btn btn-default white-btn">Entrar</button>
                        </div>

                    </div>
                </form>
            </div>
            <!-- right-box -->

            <div class="col-lg-6 right-box">
                <img class="profile-img" src="img/pet.png"
                     alt="">

                <h2 class="titulo">Não possui conta?</h2>

                <div class="cadastro-button">
                    <a href="cadastro" class="btn-cadastro2 btn btn-cadastro btn-default orange-btn">Cadastre-se </a>
                </div>
            </div>
        </div>
        <!--col-lg-8-->

    </div>
</div>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>

</html>