<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Maya Tinder</title>

    <link rel="stylesheet" type="text/css" media="screen" id="bootstrap-css" href="css/bootstrap.min.css"/>
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <link href="css/principal.css" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home">Maya - Tinder</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="cadastro-pet">Cadastrar Pet</a>
                </li>
            </ul>
            <form class="navbar-form navbar-left" action="localizar">
                <div class="form-group">
                    <input type="text" class="form-control" name="filtro" placeholder="Pesquisar">
                </div>
                <button type="submit" class="btn btn-default">Pesquisar</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="logout">Sair</a>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<h1 class="text-center">Encontre o parceiro ideal para seu pet!</h1>

<div class="container">
    <div class="row">

        <!--team-1-->
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="img/maya.jpeg" class="img-fluid"/>
                    <h3>Maya</h3>
                    <p>Cocker Spaniel</p>
                </div>

                <div class="team-back">
	<span>
        <a class="link" href="#">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
            natoque penatibus et magnis dis parturient montes,
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
            natoque.
        </a>
	</span>
                </div>

            </div>
        </div>
        <!--team-1-->

        <!--team-2-->
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="img/poly.jpeg" class="img-fluid"/>
                    <h3>Poly</h3>
                    <p>Dog travessa</p>
                </div>

                <div class="team-back">
	<span>
	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
	natoque penatibus et magnis dis parturient montes,
	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
    natoque.
	</span>
                </div>

            </div>
        </div>
        <!--team-2-->

        <!--team-3-->
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="img/pintcher.jpg" class="img-fluid"/>
                    <h3>Dilip Kevat</h3>
                    <p>Web Designer</p>
                </div>

                <div class="team-back">
	<span>
	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
	natoque penatibus et magnis dis parturient montes,
	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
	natoque.
	</span>
                </div>

            </div>
        </div>
        <!--team-3-->

        <!--team-4-->
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="img/pug.jpg" class="img-fluid"/>
                    <h3>Dilip Kevat</h3>
                    <p>Web Designer</p>
                </div>

                <div class="team-back">
	<span>
	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
	natoque penatibus et magnis dis parturient montes,
	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis 
	natoque.
	</span>
                </div>

            </div>
        </div>
        <!--team-4-->

        <!--team-5-->
        <div class="col-lg-4">


        </div>
        <!--team-5-->

        <!--team-6-->
        <div class="col-lg-4">
            <div class="our-team-main">

                <div class="team-front">
                    <img src="img/raw.jpg" class="img-fluid"/>
                    <h3>Dilip Kevat</h3>
                    <p>Web Designer</p>
                </div>

                <div class="team-back">


                </div>

            </div>
        </div>
        <!--team-6-->
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="material-button-anim">
                <ul class="list-inline" id="options">
                    <li class="option">
                        <button class="material-button option1" type="button">
                            <span class="fa fa-paw" aria-hidden="true"></span>
                        </button>
                    </li>
                    <li class="option">
                        <button class="material-button option2" type="button">
                            <span class="fa fa-envelope-o" aria-hidden="true"></span>
                        </button>
                    </li>
                    <li class="option">
                        <button class="material-button option3" type="button">
                            <span class="fa fa-pencil" aria-hidden="true"></span>
                        </button>
                    </li>
                </ul>
                <button class="material-button material-button-toggle" type="button">
                    <span class="fa fa-plus" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/principal.js"></script>
</body>
</html>
